body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace
}

.container {
  border: 1px solid gray;


  & .post {
    background-color: lightgray;
    padding: 10px;
  }
}

h1 {
  font-size: 39px;
}

p {
  font-style: italic;
}